---
---

@import "minimal-light";
a {
  color: rgb(67, 153, 232) !important; /* Force the color to blue */
}

a:hover {
  color: rgb(67, 153, 232) !important; /* Force the hover color to dark blue */
}

